# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
io
json
os
psycopg2
requests
/coverage

# Production builds
/.next/
/out/
/build


.DS_Store
*.pem
*.gz


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env vars
.env
.env.local*
.venv/
credentials.json

.vercel
*.tsbuildinfo
next-env.d.ts
secret.txt
launch.json

tree.txt
*.ico


# Local database
lib/mydb.sqlite

# IDE settings
.vscode/
*.code-workspace
*.vs/


sqlite.session.sql


